.cardwindow{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .card {
      /* height: 400px; */
      width: 400px;
      background-color: rgb(168, 166, 166);
      border-radius: 0.5rem;
      padding: 3rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      margin: 3rem;
      color: black;
    }
    
    @media only screen and (max-width: 620px) {
      .card {
        width: 70vw;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 1rem;
      }
    }